.logout a {
  text-decoration: none;
}
table.dataTable thead th {
  border-bottom: 0;
}
table.dataTable.no-footer {
  border-bottom: none;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}
.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
  padding-top: 0.25em;
}
form {
  width: 200px;
}
form .text-field {
  position: relative;
  margin: 0px 2.5px 20px 2.5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
form .text-field input {
  display: inline-block;
  border: thin solid #fafafa;
  color: #444;
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  border-radius: 0.25rem;
}
form .text-field input:focus {
  background-color: #fff;
}
form .text-field label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s;
}
form .text-field input:focus ~ label,
form .text-field input:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: small;
  color: gray;
  background-color: #fff;
  padding: 0 5px 0 5px;
}
.status {
  margin: 0px 2.5px 20px 2.5px;
  width: 200px;
}
