body {
    background: url('dota2.webp');
}

.logout {
    a {
        text-decoration: none;
    }
}


.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    // background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9));

    .product_img {
        img {
            background-color: lightyellow;
            margin-bottom: 3px;
            border: 1px solid black;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: block;
        }
        .img-list {
            text-align: center;
            width: 50px;
            height: 50px;
            display: inline-block;

            .mini_images {
                display: inline-block;
            }
        }
    }

    .product_img, .description {
        display: inline-block;
        background-color: white;
        // background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9));
    }
    
    .description {
        vertical-align: top;
        width:80%;
        height: 250px;
        // border: 1px solid black;
        padding: 10px;
        margin-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .quantity {
        width: 100px;
        display: inline-block;
    }
    .btn {
        display: inline-block;
        margin: 0px 15px;
        
    }

    .price {
        vertical-align: middle;
        margin-top: 10px;
        margin-right: 10px;
    }

    .similar_img {

        .img_wrapper {
            // display: inline-block;
            // background-color: lightyellow;
            // width: 120px;
            // height: 170px;
            // vertical-align: top;

            width: 120px;
            height: 170px;
            background-color: lightyellow;
            display: inline-block;
            margin: 10px 10px;
            vertical-align: top;
            padding: 10px;
            text-align: center;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            // img {
            //     background-color: lightyellow;
            // }
    
            .img_price {
                position: relative;
                bottom: 25px;
                background-color: greenyellow;
                margin-bottom: 0px;
                text-align: center;
            }
            .img_name {
                text-align: center;
                position: relative;
                bottom: 25px;
                margin-bottom: 0px;
            }
        }

        .img_wrapper:hover {
            background-color: green;
        }

        .anchor_img {
            text-decoration: none;
        }

    }

    
}


