body {
  background: url('dota2.webp');
}
.logout a {
  text-decoration: none;
}
.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.container .product_img img {
  background-color: lightyellow;
  margin-bottom: 3px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block;
}
.container .product_img .img-list {
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
}
.container .product_img .img-list .mini_images {
  display: inline-block;
}
.container .product_img,
.container .description {
  display: inline-block;
  background-color: white;
}
.container .description {
  vertical-align: top;
  width: 80%;
  height: 250px;
  padding: 10px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: lightyellow;
}
.container .quantity {
  width: 100px;
  display: inline-block;
}
.container .btn {
  display: inline-block;
  margin: 0px 15px;
}
.container .price {
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 10px;
}
.container .similar_img .img_wrapper {
  width: 120px;
  height: 170px;
  background-color: lightyellow;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container .similar_img .img_wrapper .img_price {
  position: relative;
  bottom: 24px;
  background-color: greenyellow;
  margin-bottom: 0px;
  text-align: center;
}
.container .similar_img .img_wrapper .img_name {
  text-align: center;
  position: relative;
  bottom: 25px;
  margin-bottom: 0px;
}
.container .similar_img .img_wrapper:hover {
  background-color: green;
}
.container .similar_img .anchor_img {
  text-decoration: none;
}
