body {
  background: url('dota2.webp');
}
.logout a {
  text-decoration: none;
}
form {
  width: 200px;
}
form .text-field {
  position: relative;
  margin: 0px 2.5px 20px 2.5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
form .text-field input {
  display: inline-block;
  border: thin solid #fafafa;
  color: #444;
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  border-radius: 0.25rem;
}
form .text-field input:focus {
  background-color: #fff;
}
form .text-field label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s;
}
form .text-field input:focus ~ label,
form .text-field input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 15px;
  font-size: small;
  color: gray;
  background-color: #fff;
  padding: 0 5px 0 5px;
}
.categories,
.all_products {
  width: 100%;
  padding: 20px;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.categories .cate,
.all_products .cate {
  text-decoration: none;
  display: block;
  color: black;
}
.categories .cate:hover,
.all_products .cate:hover {
  color: green;
}
.all_products select {
  margin: 0px;
}
.all_products .product_img {
  width: 120px;
  height: 170px;
  background-color: lightyellow;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.all_products .product_img .price {
  position: relative;
  bottom: 24px;
  background-color: greenyellow;
  margin-bottom: 0px;
  text-align: center;
}
.all_products .product_img .product_name {
  text-align: center;
  position: relative;
  bottom: 25px;
}
.all_products .product_img:hover {
  cursor: pointer;
  background-color: green;
}
.all_products .anchor_img {
  text-decoration: none;
}
